<!Doctype html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&amp;subset=latin-ext" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/index.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body style="background-image: url({{ asset('build/img/background.png') }})">
    {% block header %}
        <header class="header">
            <nav class="header__nav nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{{ path('home') }}" class="nav__link">{{ 'nav.homepage'|trans }}</a>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-toggle="open-submenu">{{ 'nav.hotel'|trans }} <span class="fas fa-arrow-down"></span></button>
                        <ul class="nav__submenu submenu">
                            <li class="submenu__item">
                                <a href="https://goo.gl/maps/c1RLkEvmjH62" target="_blank" class="submenu__link">{{ 'sub.hotel.walk'|trans }}</a>
                            </li>
                            <li class="submenu__item">
                                <a href="{{ path('environment') }}" class="submenu__link">{{ 'sub.hotel.surroundings'|trans }}</a>
                            </li>
                            <li class="submenu__item">
                                <a href="{{ path('rooms') }}" class="submenu__link">{{ 'sub.hotel.rooms'|trans }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="{{ path('home') }}#price" class="nav__link">{{ 'nav.prices'|trans }}</a>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-toggle="open-submenu">{{ 'nav.relaxation'|trans }} <span class="fas fa-arrow-down"></span></button>
                        <ul class="nav__submenu submenu">
                            <li class="submenu__item">
                                <a href="{{ path('relaxation') }}#Sauna" class="submenu__link">{{ 'sub.relaxation.sauna'|trans }}</a>
                            </li>
                            <li class="submenu__item">
                                <a href="{{ path('relaxation') }}#Siłownia" class="submenu__link">{{ 'sub.relaxation.gym'|trans }}</a>
                            </li>
                            <li class="submenu__item">
                                <a href="{{ path('relaxation') }}#Bilard" class="submenu__link">{{ 'sub.relaxation.billiards'|trans }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-toggle="open-submenu">{{ 'nav.conf_train'|trans }} <span class="fas fa-arrow-down"></span></button>
                        <ul class="nav__submenu submenu">
                            <li class="submenu__item">
                                <a href="{{ path('con-tra') }}#training" class="submenu__link">{{ 'sub.conf_train.conf'|trans }}</a>
                            </li>
                            <li class="submenu__item">
                                <a href="{{ path('con-tra') }}#conferences" class="submenu__link">{{ 'sub.conf_train.train'|trans }}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="{{ path('gallery') }}" class="nav__link">{{ 'nav.gallery'|trans }}</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link" id="contact_link">{{ 'nav.contact'|trans }}</a>
                    </li>
                    <li class="nav__item">
                        <button class="nav__link" data-toggle="open-submenu">{{ 'nav.language'|trans }} <span class="fas fa-arrow-down"></span></button>
                        <ul class="nav__submenu submenu">
                            <li class="submenu__item">
                                <a href="http://goscinieceuropejski.pl/en/" class="nav__link">English</a>
                            </li>
                            <li class="submenu__item">
                                <a href="http://goscinieceuropejski.pl/pl/" class="nav__link">Polski</a>
                            </li>
                        </ul>
                    </li>
                    <div class="arrow-indicator"></div>
                </ul>
            </nav>
            <nav class="header__nav-mobile nav-mobile">
                <ul class="nav-mobile__list">
                    <li class="nav-mobile__item">
                        <a href="{{ path('home') }}?#contact" class="nav-mobile__link">
                            <span class="fas fa-envelope"></span>
                            <span>{{ 'down_nav.contact'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-mobile__item">
                        <a href="https://goo.gl/maps/raJummSRM442" target="_blank" class="nav-mobile__link">
                            <span class="fas fa-map"></span>
                            <span>{{ 'down_nav.map'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-mobile__item">
                        <a href="https://goo.gl/maps/DeCgyRL5tgR2" target="_blank" class="nav-mobile__link">
                            <span class="fas fa-street-view"></span>
                            <span>{{ 'down_nav.walk'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-mobile__item">
                        <a href="#" class="nav-mobile__link menu-button">
                            <span class="fas fa-bars"></span>
                            <span>{{ 'down_nav.menu'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <a class="booking" href="https://www.booking.com/hotel/pl/gosciniec-europejski-miedziana-gora.pl.html?aid=311097;label=gosciniec-europejski-miedziana-gora-HeDKGC%2AFFHK_DQs37eWXFQS161695539758%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg%3Afi%3Atiaud-146342138230%3Akwd-30287976003%3Alp20858%3Ali%3Adec%3Adm;sid=38f328bf4f8ccf15cf53e3cdcd0256f4;dest_id=-516244;dest_type=city;dist=0;hapos=1;hpos=1;room1=A%2CA;sb_price_type=total;srepoch=1522710560;srfid=c8316bc4087b01dcd9ecfd212880ba6b78e11656X1;srpvid=528fa2cf513e0259;type=total;ucfs=1&#hotelTmpl" target="_blank">Zarezerwuj</a>
        <aside class="tab">
            <div class="fb-tab">
                <span class="handle">Facebook</span>
                <iframe class="fb-iframe" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGo%25C5%259Bciniec-Europejski-158126337621209%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=1548820838530942" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </aside>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        <footer class="footer">
            <h3 class="footer__title">Gościniec Europejski - 2018 &copy; Wszelkie prawa zastrzeżone</h3>
            <p class="footer__subtitle">Projekt pn. "Budowa, adaptacja i uruchomienie nowoczesnego budynku usługowego z częścią gastronomiczną i noclegową"</p>
            <p class="footer__text">Jest współfinansowany z Europejskiego Funduszu Rozwoju Regionalnego i budżetu państwa w ramach Regionalnego Programu Operacyjnego Województwa Świętokrzyskiego na lata 2007-2013</p>
            <a href="http://www.rpo-swietokrzyskie.pl" class="footer__img" target="_blank"><img src="{{ asset('build/img/eu.png') }}"></a>
        </footer>
    {% endblock %}

    <div class="row pop-up" style="display: none;">
        <div class="box small-6 large-centered">
            <button class="close-button">&#10006;</button>
            <h3>RODO</h3>
            <div>
                <h4><b>Klauzula informacyjna o przetwarzaniu danych</b></h4>
                <p>Na podstawie art. 13 ust. 1 i ust. 2 rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27 kwietnia 2016 roku w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (dalej: RODO), informuję, że:</p>

                <h4><b>Administrator danych:</b></h4>
                <p>Administratorem danych osobowych jest: Sylwester Galus działający pod firmą: ELPEX Sylwester Galus z siedzibą w Przyjmo, ul. Dolna 2, 26-085 Miedziana Góra, e-mail: elpex@op.pl, tel. 512 180 277</p>

                <h4><b>Przedstawiciel administratora danych:</b></h4>
                <p>Przedstawicielem administratora danych osobowych w Polsce jest Sylwester Galus, Przyjmo ul. Dolna 2, 26-085 Miedziana Góra, e-mail: elpex@op.pl, tel. 512 180 277</p>

                <h4><b>Inspektor ochrony danych:</b></h4>

                <p>Dane kontaktowe inspektora ochrony danych w Gościniec Europejski z siedzibą w Przyjmo, ul. Dolna 2, 26-085 Miedziana Góra  to: Sylwester Ślusarczyk, e-mail: sylweczek0@wp.pl, tel. 691 739 981</p>


                <h4><b>Cele przetwarzania danych osobowych oraz podstawa prawna przetwarzania:</b></h4>
                <p>
                    Przetwarzanie danych osobowych odbywać się będzie na podstawie art. 6 ust. 1 lit. b RODO <br>
                    i wyłącznie w celu zapewnienia korzystania z usług świadczonych przez ELPEX
                </p>
                <h4><b>Prawnie uzasadniony interes:</b></h4>
                <p>Przetwarzanie danych osobowych odbywać się będzie również w oparciu o prawnie uzasadniony interes Administratora na podstawie art. 6 ust. 1 lit. f RODO w celu w celu rozpatrywania reklamacji, dochodzenia i obrony wzajemnych roszczeń, jak również przekazywania informacji o własnych usługach.</p>

                <h4><b>Okres przechowywania danych osobowych:</b></h4>
                <p>Pani/Pana dane osobowe będą przechowywane przez okres niezbędny do realizacji usługi oraz ewentualnie dochodzenia związanych z nią roszczeń.</p>

                <h4><b>Prawo dostępu do danych osobowych:</b></h4>
                <p>
                    Posiada Pani/Pan prawo:
                    - dostępu do treści swoich danych osobowych,
                    - prawo do ich sprostowania, usunięcia oraz prawo do ograniczenia ich przetwarzania.
                    Ponadto także prawo do:
                    - cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania,
                    - prawo do przenoszenia danych
                    - prawo do wniesienia sprzeciwu wobec przetwarzania Pani/Pana danych osobowych.
                </p>
                <p>
                    Prawo wniesienia skargi do organu nadzorczego:
                    Przysługuje  Pani/Panu  prawo  wniesienia  skargi  do  Prezesa   Urzędu   Ochrony   Danych   Osobowych, ul. ul. Stawki 2, 00-913 Warszawa gdy uzna Pani/Pan, iż przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy RODO.
                </p>
                <h4><b>Konsekwencje niepodania danych osobowych:</b></h4>
                <p>Podanie przez Panią/Pana danych osobowych jest wymogiem warunkiem zawarcia umowy  , <br>
                    a ich niepodanie będzie skutkowało odmową zawarcia umowy i wykonania usługi.
                </p>
                <h4><b>Odbiorcy danych:</b></h4>
                Odbiorcą Pani/Pana danych osobowych będą podmioty prowadzące na rzecz Administratora danych obsługę księgową informatyczną i prawną

                <h4><b>Przekazanie danych do państwa trzeciego/organizacji międzynarodowej:</b></h4>
                <p>Nie dotyczy</p>
                <h4><b>Zautomatyzowane podejmowanie decyzji, profilowanie:</b></h4>
                <p>Nie dotyczy</p>
            </div>
        </div>
    </div>

    <div id="sylwester" title="Sylwester">
        <img src="{{ 'build/img/sylwester.png' }}" alt="Zaproszenie na sylwestra do Gościnca Europejskiego">
    </div>

    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script type="application/javascript">
        $( "#sylwester" ).dialog();

        var contact = document.querySelector('#contact');
        var rodo = () => {
                $('.pop-up').fadeIn(1000);
        };

           document.querySelector('.close-button').addEventListener('click', e => {
                    document.body.scrollTop = document.documentElement.scrollTop = contact.offsetTop
                    console.log(contact.offsetTop);
                    $('.pop-up').fadeOut(700);
                    $('#overlay').removeClass('blur-in');
                    $('#overlay').addClass('blur-out');
        });


        document.querySelector('#rodo').addEventListener('click', () => {
            rodo();
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        });

        document.querySelector('#contact_link').addEventListener('click', () => {
            rodo();
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{{ asset('build/lib/pgwslider.min.js') }}"></script>
    <script src="{{ asset('build/lib/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('build/lib/jquery.tabSlideOut.js') }}"></script>
    <script src="{{ asset('build/lib/jquery.gridder.min.js') }}"></script>

    <script src="{{ asset('build/index.js') }}"></script>

    {% block js %}{% endblock %}
    </body>
</html>
