{% extends 'base.html.twig' %}

{% block css %}
{% endblock %}

{% block body %}
    <main class="container con-tra">
        <h1>{{ 'con_tra.title'|trans }}</h1>
        <section id="training" class="training">
            <h2>{{ 'con_tra.subtitle.tra'|trans }}</h2>
            {% set method="text#{ locale }"  %}
            {{ attribute(text1, method)|raw }}
            <h3>{{ 'con_tra.layout'|trans }}:</h3>
            <div class="training__img-box img-thumbnail">
                <img src="{{ asset('build/img/teatralne.png') }}" class="img-thumbnail">
                <img src="{{ asset('build/img/jodelka.png') }}" class="img-thumbnail">
                <img src="{{ asset('build/img/teatralne.png') }}" class="img-thumbnail">
                <img src="{{ asset('build/img/szkola.png') }}" class="img-thumbnail">
                <img src="{{ asset('build/img/u.png') }}" class="img-thumbnail">
            </div>
        </section>
        <section id="conferences" class="conferences">
            <h2>{{ 'con_tra.subtitle.conf'|trans }}</h2>
            {% set method="text#{ locale }"  %}
            {{ attribute(text2, method)|raw }}
            <h3>{{ 'con_tra.layout'|trans }}:</h3>
            <div class="conferences__img-box">
                <img src="{{ asset('build/img/teatralne.png') }}" class="img-thumbnail">
                <img src="{{ asset('build/img/rzedy.png') }}" class="img-thumbnail">
                <img src="{{ asset('build/img/bankiet.png') }}" class="img-thumbnail">
            </div>
        </section>
    </main>
{% endblock %}

{% block js %}
{% endblock %}




