<h2>Email wysłany z {{ email_from }}</h2>

<p>Email wysłany przez: {{ mail.fullName }}</p>
<p>adres: {{ mail.email }}</p>
<p>telefon: {{ mail.phone }}</p>

<h3>Treść wiadmości</h3>
<p>
    {{ mail.content }}
</p>
